*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(40, 11, 119);
    display: flex;
}
.whiteboxes{
    height: 200px;
    width: 200px;
    background-color: white;
    margin: 20px;
    /* display: inline-block;  used to take all items in inline */
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagebox{
    background-image: url(../logo.png);
    height: 160px;
    width: 160px;
    background-repeat: no-repeat;
    /* border: 2px solid red; */
    cursor: pointer;
}
.appendClass{
    height: 200px;
    width: 200px;
    background-color: white;
    margin: 20px;
    /* display: inline-block;  used to take all items in inline */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../logo.png);
    /* height: 160px;
    width: 160px; */
    background-repeat: no-repeat;
    /* border: 2px solid red; */
    cursor: pointer;
}